/************************************** FOOTER **************************************/
@import 'C:/WORKSPACE/lcd/Project/1_Website/Design/Main_Layout/scss/core/_global.scss';

footer{
  position: relative;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
  padding-bottom: 20px;
  .connect{
    display: inline-block;
    font-family:'century-gothic-regular';
    font-size:14px;
    color:#f3c483 ;
    font-weight: lighter;
      }
    h1{
      font-weight: lighter;
      font-family:'century-gothic-regular';
      font-size:14px;
      color:#f3c483 ;

    }



}


