/************************************** MAIN **************************************/
@import 'C:/WORKSPACE/lcd/Project/1_Website/Design/Main_Layout/scss/core/global';

.lt-ie9{
  body{
    background-color:#BE1E2D;
    img{
      margin-bottom:60px;
    }
    p{
      font:{
        size:1.8em;
      }
    }
    a{
      text-decoration:underline;
    }
    p,a{
      color:#FFFFFF;
    }
    > div{
      max-width:715px;
      width:95%;
      padding: 0 25px;
      height:275px;
      background:transparent;
      margin: 10% auto;
    }
  } 
}



html,*{
  @extend %boxsizing;
  @extend %CSS3-pie; //http://css3pie.com/documentation/supported-css3-features/ for detailed implementation
}

body{
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

.clefsdorBlue{
  color:#15324D !important;
}



.darkBlueBG{
  background-color:#15324D !important;
}

.lightBlueBG{
  background-color:#1A3F61 !important;
}

.whiteBG{
  background-color:#fff !important;
}

#wrapper{
  background-color:#15324D;
}

.blackGradient{
  
  background: #1f2120 !important; /* Old browsers */
  background: -moz-linear-gradient(top,  #1f2120 0%, #050708 100%) !important; /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1f2120), color-stop(100%,#050708)) !important; /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #1f2120 0%,#050708 100%) !important; /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #1f2120 0%,#050708 100%) !important; /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #1f2120 0%,#050708 100%) !important; /* IE10+ */
  background: linear-gradient(to bottom,  #1f2120 0%,#050708 100%) !important; /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f2120', endColorstr='#050708',GradientType=0 ) !important; /* IE6-9 */
}

.blueGradient{
  background: rgba(40,124,214,1);
  background: -moz-linear-gradient(top, rgba(40,124,214,1) 0%, rgba(17,47,122,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(40,124,214,1)), color-stop(100%, rgba(17,47,122,1)));
  background: -webkit-linear-gradient(top, rgba(40,124,214,1) 0%, rgba(17,47,122,1) 100%);
  background: -o-linear-gradient(top, rgba(40,124,214,1) 0%, rgba(17,47,122,1) 100%);
  background: -ms-linear-gradient(top, rgba(40,124,214,1) 0%, rgba(17,47,122,1) 100%);
  background: linear-gradient(to bottom, rgba(40,124,214,1) 0%, rgba(17,47,122,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#287cd6', endColorstr='#112f7a', GradientType=0 );
}

::-webkit-input-placeholder {
   color: #f3c483 !important;
   font-family:'texgyreadventor-regular';
}

:-moz-placeholder { /* Firefox 18- */
   color: #f3c483 !important;  
   font-family:'Atexgyreadventor-regular';
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #f3c483 !important;  
   font-family:'texgyreadventor-regular';
}

:-ms-input-placeholder {  
   color: #f3c483 !important;  
   font-family:'Atexgyreadventor-regular';
}

.activeLink{
  background-color:#603813;
}

//** Start of SPRITES ***********************************************************************//
#facebookConnect{
  @include sprite(34.028px,34.428px,-2.567px, -3.208px,'no-hover',$sprites);
  margin-right:5px; 
  margin-bottom: 4px;
}

#twitterConnect{
  @include sprite(34.028px,34.428px,-117.567px, -3.208px,'no-hover',$sprites); 
  margin-right:5px;
  margin-bottom: 4px;
}

#instagramConnect{
  @include sprite(34.028px,34.428px,-59.567px, -3.208px,'no-hover',$sprites); 
  margin-right:5px;
  margin-bottom: 4px;
}

#facebookIcon{
  @include sprite(34.028px,34.428px,-161.567px, -3.208px,'no-hover',$sprites);
}

#twitterIcon{
  @include sprite(34.028px,34.428px,-241.567px, -3.208px,'no-hover',$sprites); 
}

#instagramIcon{
  @include sprite(34.028px,34.428px,-201.567px, -3.208px,'no-hover',$sprites); 
}

#viewHotel{
  @include sprite(110.065px,40.354px,-0.891px, -53.176px,'no-hover',$sprites); 
}

#bx-prev{
  @include sprite(41.065px,70.354px,-1.891px, -96.176px,'no-hover',$sprites); 
}

#bx-next{
  @include sprite(41.065px,70.354px,-40.891px, -95.176px,'no-hover',$sprites);
}

#seeMore{
  @include sprite(110.065px,40.354px,-109.891px, -53.176px,'no-hover',$sprites); 
}

#viewEvent{
  @include sprite(110.065px,40.354px,-109.891px, -111.176px,'no-hover',$sprites); 
}

#submitBtn{
  @include sprite(110.065px,40.354px,-217.891px, -53.176px,'no-hover',$sprites); 
}

#circle{
  @include sprite(65.065px,58.354px,-225.891px, -101.176px,'no-hover',$sprites); 
}
// -----------------------------404------------------------
#wrapper404{
  max-width:1200px;
  width:100%;
  margin:0 auto;
  header{
    img{
      margin: 30px 0px;
    }
  }
  
}

