$bannerBG           : '#{$backgrounds}banner.jpg';
  
$sprites            : '#{$sprites}sprites.png';
  
$btnSprite          : '#{$sprites}btn-sprite.png';
$defaultSprite      : '';

$buttonSprites2       : '/Project/1_Website/Design/Main_Layout/images/sprites/button-sprites2.png';
$photoPreview         : '/Project/1_Website/Design/Main_Layout/images/backgrounds/photoBg.jpg';
$careersSprites       : '/Project/Design/1_Website/Main_Layout/images/sprites/careersSprite.svg';
$contactGlobe       : '#{$other}globe.png';
