/************************************** News **************************************/
@import 'C:/WORKSPACE/avior/Project/1_Website/Design/Main_Layout/scss/core/global';

#top-container{
  position:fixed !important;
}

body.front
  {
    #container{
      header{
        display:block;
      }
    }
  } 

   #csr_container{
     #container{
       margin: auto;
       width: 1121px;
       background: #ffffff;
       header{
        background-size: cover !important;
        height: 266px;
        margin: 77px 0 0 161px;
        position: relative;
        .overlay {
            background-image: url('/Project/1_Website/Design/Main_Layout/images/other/header_overlay.png');
            background-repeat:no-repeat;
            background-position:713px 0;
            bottom: -1px;
            height: 15px;
            left: 0px;
            position: absolute;
            width: 100%;
            z-index: 10;
           
          }
       }
       #middle {
            *zoom: 1;
            margin-left: 161px !important;
            position: relative;
            .breadcrumb {
                border-bottom: 1px solid #d6d6d6;
                color: #787878;
                font-size: 10px;
                font-weight: bold;
                height: 39px;
                line-height: 39px;
                padding: 0px;
                text-transform: uppercase;
                border-radius: 0px;
                background-color:transparent;
                margin-bottom: 0px;
                a {
                  color: #787878;
              }
              a:after {
                  content: "\f105";
                  font-family: FontAwesome;
                  margin: 0 10px;
                  text-decoration: none;
              }
            }
            .header{
              font-family: 'Lato', sans-serif;
              font-weight: 400;
              background-color: rgba(184,190,190,0.9);
              color: #325095;
              font-size: 30px;
              height: 98px;
              overflow: hidden;
              padding-right: 30px;
              padding: 0 10px;
              position: absolute;
              top: -98px;
              z-index: 10;
              p{
                line-height: 75px;
                margin: 12px 0 10px;
                font-family: 'Lato', sans-serif;
                font-weight: 400;
                color: #325095;
                font-size: 30px;
              }
            }
            #content{
              border-right: 0px;
              .region{
                float: left;
                margin: 0 0 0 8px;
                padding-right: 10px;
                margin-bottom: 40px !important;
                width: 947px;
                .block{
                  .content{
                    padding-left: 15px;
                    padding-right: 15px;
                    .buttonContainer{
                      padding-left:0;
                      padding-right:0;
                      .latestNews{
                        font-weight:normal;
                        margin-top: 20px;
                        margin-bottom: 10px;
                      }
                      .back{
                        font-weight:normal;
                        margin-top: 20px;
                        margin-bottom: 10px;
                      }
                      h2{
                          line-height: 1.1;
                        .archiveLink{
                          margin-top: 20px;
                          margin-bottom: 10px;
                          background-color: #df9321;
                          color: white;
                          font-size: 17px;
                          font-weight: normal;
                          padding: 10px 20px;
                        }
                      }
                      .dateCreated{
                        margin-top: 20px;
                      }
                    }
                  }
                }
                .container-fluid{
                  padding-left:0;
                  padding-right:0;
                  .block{
                    padding-left:0;
                    padding-right:0;
                    .content{
                      line-height: 22px;
                      .view{
                        .view-content{
                          .views-row{
                            .views-field-field-picture{
                              width: 100%;
                              height: 142px;
                              .field-content{
                              height: 142px;
                              a{
                                background-size: cover;
                                display: block;
                                  height: 142px;
                                } 
                                img{
                                background-size: cover;
                                display: block;
                                 height: 142px;
                                width: 100%;
                                }
                               
                              }
                            }
                            .views-field-created{
                              color: #df9321;
                              font-size: 11px;
                              font-weight: bold;
                              text-transform: uppercase;
                              .field-content{
                                margin-bottom: 0px;
                                font-size: 14px;
                                color: #df9321;
                              }
                            }
                            .views-field-title{
                                color: #df9321;
                              .field-content{
                                margin-bottom: 0px;
                                font-size: 14px;
                                margin-top: 20px;
                                a{
                                  color: #325095;
                                  font-weight: bold;
                                }
                              }
                            }
                            .views-field-body{
                              .field-content{
                                margin-bottom: 0px;
                                font-size: 14px;
                                .ellipsis{
                                  max-height:110px;
                                    p{
                                    font-size: 14px;
                                    text-align:justify;
                                  }
                                }
                                a{
                                  color: #df9321;
                                }
                                table{
                                  tbody{
                                    tr{
                                      td{
                                        vertical-align: middle !important;
                                        padding:18px;
                                        h6{
                                          font-size: 1.1em;
                                          line-height: 17px;
                                          text-align: center;
                                        }
                                      }
                                    }
                                  }
                                }
                                h4{
                                  font-size: 1.4em;
                                  line-height: 25px;
                                }
                              }
                            }
                            .imageBannerContainer{
                              width:100%;
                              height: 373px;
                              .field-content{
                                #imageBanner{
                                  background-size:cover !important;
                                  background-repeat:no-repeat;
                                    height: 373px;
                                    width:280px;
                                }
                              }
                            }
                            .articleBody{
                              margin-top:20px;
                              .field-content{
                                p{
                                  line-height:22px;
                                  color: #454545;
                                  font-family: 'Lato', sans-serif;
                                  font-size: 14px;
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
        }
       #middle:before, #middle:after{
          display: table;
          content: "";
          line-height: 0;
       }
       #middle:after{
          clear: both;
       }
     }
     .newsListing{
       #middle{
         #content{
           border-right: 1px solid #d6d6d6 !important;
            float: left;
            margin: 0 0 0 8px;
            padding-right: 10px;
            width: 705px;
            .content {
              line-height: 22px;
              .buttonContainer{
                padding-left:0;
                padding-right:0;
                width:904px;
                h2{
                  a{
                    background-color:#df9321;
                    color:white;
                    font-size: 17px;
                    font-weight: normal;
                    padding: 10px 20px;
                  }
                }
              }
          }
          .region{
             width: 705px !important;
            .container-fluid{
               width: 705px;
               #block-views-news-archive-block{
                 .content{
                   .view-news-archive{
                     .view-content{
                       ul{
                         li{
                           width: 100%;
                           padding: 10px;
                             height: 180px;
                           overflow:hidden;
                           .views-field-created{
                             margin-top:5px;
                           }
                           .views-field-body{
                             height: 70px;
                              overflow:hidden;
                             .field-content{
                               .contentEllipsis{
                                  height: 75px;
                                  overflow:hidden;
                                 word-wrap: break-word;
                                 p{
                                    color: #454545;
                                    font-family: 'Lato', sans-serif;
                                    font-size: 14px;
                                    word-wrap: break-word;
                                    line-height: 20px;
                                 }
                                 table{
                                  tbody{
                                    tr{
                                      td{
                                        vertical-align: middle !important;
                                         padding:18px;
                                        h6{
                                          font-size: 1.1em;
                                          line-height: 17px;
                                          text-align: center;
                                        }
                                      }
                                    }
                                  }
                                }
                               }
                               
                             }
                           }
                         }
                       }
                     }
                     .item-list{
                       ul{
                         li{
                           .currentPage{
                              color: white;
                              background-color: #f9a23b;
                              border: 1px solid transparent;
                              padding: 1px 6px;
                           }
                         }
                       }
                     }
                   }
                 }
               }
            }
          }
         }
         #right {
            float: right;
            width: 247px;
            .block {
              margin-bottom: 20px;
              .content{
                ul{
                  margin: 0;
                  padding: 0;
                  li{
                    font-size: 12px;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    .menu {
                        display: none;
                    }
                    a{
                      border-bottom: 1px solid #d6d6d6;
                      color: #515151;
                      display: block;
                      font-weight: bold;
                      line-height: 29px;
                      min-height: 29px;
                      padding-left: 5px;
                      text-decoration: none;
                      text-transform: uppercase;
                      width: 247px;
                      &:hover{
                        background: #f3f8fb;
                      }
                    }
                    .active-trail{
                      background: #f3f8fb;
                    }
                  }
                  .expanded{
                    position: relative;
                    a:after{
                      content: "\f105";
                      font-family: FontAwesome;
                      position: absolute;
                      right: 20px;
                    }
                  }
                  .active-trail{
                    position: relative;
                    a:after{
                      // content: "\f107";
                      // font-family: FontAwesome;
                      // position: absolute;
                      // right: 5px;
                    }
                    .menu{
                      margin-left: 10px;
                      display: block;
                      a {
                          font-weight: normal;
                          width: 214px;
                      }
                      a:after {
                          content: "";
                      }
                      a:before {
                          content: "- ";
                          font-family: FontAwesome;
                      }
                      .active-trail{
                        background: none;
                        color: #3e8ced;
                        font-weight: bold;
                        text-decoration: underline;
                      }
                    }
                  }
                }
              }
          }
          #block-menu-menu-archive-right-menu {
                border-left: 0;
                #block-views-downloads-block{
                  h2 {
                      border-bottom: 1px solid #d6d6d6;
                      font-weight: bold;
                      margin: 0;
                      padding-bottom: 20px;
                      text-transform: uppercase;
                  }
                  .content {
                      margin-left: 0;
                      ul {
                        margin: 0;
                        padding: 0;
                        li {
                          border-bottom: 1px solid #d6d6d6;
                          display: block;
                          font-size: 12px;
                          height: 30px;
                          list-style: none;
                          margin: 0;
                          padding: 0;
                          .file {
                            position: relative;
                            img {
                              position: absolute;
                              top: 7px;
                          }
                          a {
                              border-bottom: 0;
                              color: #515151;
                              font-weight: bold;
                              line-height: 30px;
                              margin-left: 23px;
                              text-transform: uppercase;
                              &:hover {
                                  width: 219px;
                              }
                          }
                        }
                      }
                    }
                  }
                }
            }
            .block-images{
              .content{
                margin: 24px 0 0 0px !important;
                padding: 0;
              }
            }
        }
       }
     }
   }

.field-content{
  line-height:22px;
  p{
    line-height:22px;
  }
}
