/************************************** HOMEPAGE **************************************/
@import 'C:/WORKSPACE/lcd/Project/1_Website/Design/Main_Layout/scss/core/global';

.jumbotron{
  height:300px;
  margin-bottom: 0px;
  background:{
    size:cover;
    repeat:no-repeat;
    position:center bottom;
  }
}


.aboutContainer{
  section{
      h1{
        font-family:'AmplitudeExtraComp-Medium_3552';
        color:#f1bc56;
        font-weight:lighter;
        font-size:60px;
        padding-left: 50px;
        margin-right: 37px;
      }
      h2{
        font-family:'AmplitudeExtraComp-Medium_3552';
        color:#f4c483;
        font-weight:lighter;
        font-size:36px;
      }
      h3{
        font-family:'AmplitudeExtraComp-Medium_3552';
        color:#f4c483;
        font-weight:lighter;
        font-size:30px;
        }
      hr{
        margin-top:14px;
        border: none;
        height: 5px;
        color: #f1bc56;
        background-color: #f1bc56;
      }
      p{
        font-family:'century-gothic-regular';
        color:#fff;
        font-size:14px;
        text-align:center;
        line-height: 20px;
        padding-left: 30px;
        padding-right: 30px;
        a{
          color:#f4c483;
        }
      }
      ul{
        li{
          p{
            text-align:left;
          }
        }
      }
      .slider1{
          height:1250px;
        }
        .slide {
        height: 400px;
        overflow: hidden;
        position: relative;
        margin:0 auto;
        margin-bottom:20px;
      }
      
      .card_content {
        background-color: rgba(173,132,68,0.7);
        padding: 10px;
        position: absolute;
        bottom: -325px;
        height:100%;
        
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;;
      }
      
      .card_content h2 {
        font-family:'AmplitudeExtraComp-Medium_3552';
        color:000;
        font-weight:lighter;
        font-size:35px;
        text-align:center;
        margin-bottom: 0.5em;
        margin-top:15px;
      }
      
      .slide:hover .card_content {
        background-color: rgba(241,188,86,0.7);
        bottom: 0;
      }
      .slide:hover .card_content h2{
        margin-top:50px;
      }
    
    }
  }