/************************************** HOMEPAGE **************************************/
@import 'C:/WORKSPACE/avior/Project/1_Website/Design/Main_Layout/scss/core/global';

#top-container{
  position:fixed !important;
}

body.front
  {
    #container{
      header{
        display:block;
      }
    }
  } 

   #accessibility_container{
     #container{
       margin: auto;
       width: 1121px;
       background: #ffffff;
       header{
        background-size: cover !important;
        height: 266px;
        margin: 77px 0 0 161px;
        position: relative;
        .overlay {
            background-image: url('/Project/1_Website/Design/Main_Layout/images/other/header_overlay.png');
            background-repeat:no-repeat;
            background-position:713px 0;
            bottom: -1px;
            height: 15px;
            left: 0px;
            position: absolute;
            width: 100%;
            z-index: 10;
           
          }
       }
       #middle {
            *zoom: 1;
            margin-left: 161px !important;
            position: relative;
            .breadcrumb {
                border-bottom: 1px solid #d6d6d6;
                color: #787878;
                font-size: 10px;
                font-weight: bold;
                height: 39px;
                line-height: 39px;
                padding: 0px;
                text-transform: uppercase;
                border-radius: 0px;
                background-color:transparent;
                margin-bottom: 0px;
                a {
                  color: #787878;
              }
              a:after {
                  content: "\f105";
                  font-family: FontAwesome;
                  margin: 0 10px;
                  text-decoration: none;
              }
            }
            .header{
              font-family: 'Lato', sans-serif;
              font-weight: 400;
              background-color: rgba(184,190,190,0.9);
              color: #325095;
              font-size: 30px;
              height: 98px;
              overflow: hidden;
              padding-right: 30px;
              padding: 0 10px;
              position: absolute;
              top: -98px;
              z-index: 10;
              p{
                line-height: 75px;
                margin: 12px 0 10px;
                font-family: 'Lato', sans-serif;
                font-weight: 400;
                color: #325095;
                font-size: 30px;
              }
            }
            #content{
              .region{
                .block{
                  .content{
                    .node{
                      .content{
                        .field{
                          .field-items{
                            .field-item{
                               h2{
                                font-size: 14px;
                                line-height: 25px;
                              }
                              h3{
                                font-size:12px;
                              }
                              p{
                              color: #454545;
                              font-family: 'Lato', sans-serif;
                              font-size: 14px;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
        }
       #middle:before, #middle:after{
          display: table;
          content: "";
          line-height: 0;
       }
       #middle:after{
          clear: both;
       }
       #content {
            border-right: 1px solid #d6d6d6 !important;
            float: left;
            margin: 0 0 0 8px;
            padding-right: 10px;
            width: 705px;
            .content {
              line-height: 22px;
              .buttonContainer{
                padding-left:0;
                padding-right:0;
                width:904px;
                h2{
                  a{
                    background-color:#df9321;
                    color:white;
                    font-size: 17px;
                    font-weight: normal;
                    padding: 10px 20px;
                  }
                }
              }
          }
        }
        #right {
            float: right;
            width: 247px;
            .block {
              margin-bottom: 20px;
              .content{
                ul{
                  margin: 0;
                  padding: 0;
                  li{
                    font-size: 12px;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    .menu {
                        display: none;
                    }
                    a{
                      border-bottom: 1px solid #d6d6d6;
                      color: #515151;
                      display: block;
                      font-weight: bold;
                      line-height: 29px;
                      min-height: 29px;
                      padding-left: 5px;
                      text-decoration: none;
                      text-transform: uppercase;
                      width: 247px;
                      &:hover{
                        background: #f3f8fb;
                      }
                    }
                    .active-trail{
                      background: #f3f8fb;
                    }
                  }
                  .expanded{
                    position: relative;
                    a:after{
                      content: "\f105";
                      font-family: FontAwesome;
                      position: absolute;
                      right: 20px;
                    }
                  }
                  .active-trail{
                    position: relative;
                    a:after{
                      content: "\f107";
                      font-family: FontAwesome;
                      position: absolute;
                      right: 5px;
                    }
                    .menu{
                      margin-left: 10px;
                      display: block;
                      a {
                          font-weight: normal;
                          width: 214px;
                      }
                      a:after {
                          content: "";
                      }
                      a:before {
                          content: "- ";
                          font-family: FontAwesome;
                      }
                      .active-trail{
                        background: none;
                        color: #3e8ced;
                        font-weight: bold;
                        text-decoration: underline;
                      }
                    }
                  }
                }
              }
          }
          #block-menu-menu-archive-right-menu {
                border-left: 0;
                #block-views-downloads-block{
                  h2 {
                      border-bottom: 1px solid #d6d6d6;
                      font-weight: bold;
                      margin: 0;
                      padding-bottom: 20px;
                      text-transform: uppercase;
                  }
                  .content {
                      margin-left: 0;
                      ul {
                        margin: 0;
                        padding: 0;
                        li {
                          border-bottom: 1px solid #d6d6d6;
                          display: block;
                          font-size: 12px;
                          height: 30px;
                          list-style: none;
                          margin: 0;
                          padding: 0;
                          .file {
                            position: relative;
                            img {
                              position: absolute;
                              top: 7px;
                          }
                          a {
                              border-bottom: 0;
                              color: #515151;
                              font-weight: bold;
                              line-height: 30px;
                              margin-left: 23px;
                              text-transform: uppercase;
                              &:hover {
                                  width: 219px;
                              }
                          }
                        }
                      }
                    }
                  }
                }
            }
            .block-images{
              .content{
                margin: 24px 0 0 0px !important;
                padding: 0;
              }
            }
        }
     }
     .fleetManned{
       #middle{
         #content{
           .region{
             .container-fluid{
               padding-left: 0;
               padding-right: 0;
               table{
                border:0px;
                margin-bottom:30px;
                margin-top:30px;
                tbody{
                  tr{
                    td{
                      border:0px;
                      padding-left:15px;
                      padding-right:15px;
                      p{
                        color: #454545;
                        font-family: 'Lato', sans-serif;
                        font-size: 14px;
                        text-align:justify;
                        img{
                          height:142px;
                          width:201px;
                        }
                      }
                      h1{
                          font-size: 14px;
                          font-weight:normal;
                        }
                    }
                  }
                } 
               }
             }
           }
         }
       }
     }
   }

