/************************************** HOMEPAGE **************************************/
@import 'C:/WORKSPACE/lcd/Project/1_Website/Design/Main_Layout/scss/core/global';

.jumbotron{
  height:300px;
  margin-bottom: 0px;
  background:{
    size:cover;
    repeat:no-repeat;
    position:center bottom;
  }
}

.contactContainer{
  section{
      h1{
        font-family:'AmplitudeExtraComp-Medium_3552';
        color:#f1bc56;
        font-weight:lighter;
        font-size:60px;
        padding-left: 50px;
        margin-right: 37px;
      }
      h2{
        font-family:'century-gothic-regular';
        color:#fff;
        font-weight:normal;
        font-size:20px;
      }
      h3{
        font-family:'AmplitudeExtraComp-Medium_3552';
        color:#f4c483;
        font-weight:lighter;
        font-size:30px;
        }
      hr{
        margin-top:14px;
        border: none;
        height: 5px;
        color: #f1bc56;
        background-color: #f1bc56;
      }
      p{
        font-family:'century-gothic-regular';
        color:#fff;
        font-size:14px;
        text-align:center;
        line-height: 20px;
        padding-left: 30px;
        padding-right: 30px;
        a{
          color:#f4c483;
        }
      }
    label{
        font-family:'AmplitudeExtraComp-Medium_3552';
        color:#f3c483;
        font-weight:normal;
        font-size:28px;
      }
      input, textarea{
        font-family:'century-gothic-regular';
        color:#fff;
        font-weight:normal;
        font-size:18px;
      }
      textarea{
        resize:none;
      }
      .form-control{
        background-color:#2c2c2c;
        border:#2c2c2c;
      }
    }
  }